{% extends 'base.html.twig' %}

{% block title %}Cheptel index{% endblock %}

{% block body %}
    <h1>Cheptel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NomCheptel</th>
                <th>DateCreation</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cheptel in cheptels %}
            <tr>
                <td>{{ cheptel.nomCheptel }}</td>
                <td>{{ cheptel.dateCreation ? cheptel.dateCreation|date('d/m/Y') : '' }}</td>
                <td>{{ cheptel.commentaire }}</td>
                <td>
                    <a href="{{ path('app_cheptel_show', {'id': cheptel.id}) }}">show</a>
                    <a href="{{ path('app_cheptel_edit', {'id': cheptel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cheptel_new') }}">Create new</a>
{% endblock %}
